<button (click)="toggleSidebar()" data-drawer-target="separator-sidebar" data-drawer-toggle="separator-sidebar" aria-controls="separator-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
  <span class="sr-only">Open sidebar</span>
  <svg class="w-4 h-4" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
  <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
  </svg>
</button>

<aside [class.translate-x-0]="isSidebarOpen" [class.-translate-x-full]="!isSidebarOpen" id="separator-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform sm:translate-x-0" aria-label="Sidebar">
  <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
      <ul class="space-y-2 font-medium">
        <li >
          <a class="flex items-center mr-2 ml-2 text-gray-900 rounded-lg dark:text-white group">
             <img src="assets/angularv17.png" alt="Angular Logo">
             <span class="flex-1 ms-3 text-xl whitespace-nowrap text-white">Gifs App</span>
             <button  *ngIf="isSidebarOpen" (click)="toggleSidebar()">
                <span class="inline-flex items-center justify-center px-2 ms-3 text-sm font-medium rounded-full dark:bg-gray-700  dark:text-white bg-gradient-to-br from-purple-800 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-black-800">X</span></button>
          </a>
       </li>
     </ul>
     <ul class="pt-4 mt-4 space-y-2 font-medium border-t border-gray-200 dark:border-gray-70"> <!-- Agregamos la clase bg-blue-500 para establecer el color de fondo por defecto -->
      <!-- SIDEBAR ITEMS -->
      <li *ngFor="let tag of tagsHistory; let i = index">
        <a *ngIf="i===0; else elseBlock"
           (click)="onSelectTag(tag)"
           href="#"
           class="flex items-center p-2 transition duration-75 rounded-lg dark:text-white bg-gradient-to-br from-purple-800 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-black-800 group">
          <svg class="flex-shrink-0 w-5 h-5 text-dark-500 transition duration-75 dark:text-dark-400 text-yellow-400 dark:group-hover:text-yellow" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 17 20">
            <path d="M7.958 19.393a7.7 7.7 0 0 1-6.715-3.439c-2.868-4.832 0-9.376.944-10.654l.091-.122a3.286 3.286 0 0 0 .765-3.288A1 1 0 0 1 4.6.8c.133.1.313.212.525.347A10.451 10.451 0 0 1 10.6 9.3c.5-1.06.772-2.213.8-3.385a1 1 0 0 1 1.592-.758c1.636 1.205 4.638 6.081 2.019 10.441a8.177 8.177 0 0 1-7.053 3.795Z"/>
          </svg>
          <span class="ms-3 text-yellow-400">{{ tag | titlecase }}
          </span>
        </a>

        <!-- ElseBlock -->
        <ng-template #elseBlock>
          <a (click)="onSelectTag(tag)"
                href="#"
                class="flex items-center p-2 transition duration-75 rounded-lg dark:text-white bg-gradient-to-br from-purple-800 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-black-800 group">
            <svg class="flex-shrink-0 w-5 h-5 text-dark-500 transition duration-75 dark:text-dark-400 group-hover:text-yellow-400 dark:group-hover:text-yellow" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 17 20">
              <path d="M7.958 19.393a7.7 7.7 0 0 1-6.715-3.439c-2.868-4.832 0-9.376.944-10.654l.091-.122a3.286 3.286 0 0 0 .765-3.288A1 1 0 0 1 4.6.8c.133.1.313.212.525.347A10.451 10.451 0 0 1 10.6 9.3c.5-1.06.772-2.213.8-3.385a1 1 0 0 1 1.592-.758c1.636 1.205 4.638 6.081 2.019 10.441a8.177 8.177 0 0 1-7.053 3.795Z"/>
            </svg>
            <span class="ms-3 group-hover:text-yellow-400">{{ tag | titlecase }}
            </span>
          </a>
        </ng-template>

      </li>
    </ul>
  </div>
</aside>


